body{
    background-color: rgba(246, 247, 248, 0.685);
    color: #251c1200;
    line-height: 2.0;
}

h1{
    border: double;
    text-align: center;
}

p{
    font: size 30px;;
    text-align: center;
}
