body{
    background-color: rgba(11, 45, 235, 0.685);
    color: #ffffff00;
    line-height: 2.0;

}

h1{
    border: double;
    text-align: center;
    color: rgb(240, 250, 247);
}

p{
    font-size:28;
    text-align: center;
}
